{
  "presets": [
    "latest",
    "stage-3"
  ],
  "plugins": [
    "babel-plugin-syntax-jsx",
    [ "babel-plugin-inferno",  { "imports": true }]
  ],
  "sourceMaps": "inline",
  "env": {
    "production": {
      "sourceMaps": false
    }
  }
}
